name: Generic Release

on:
  workflow_call:
    inputs:
      snapshot:
        required: false
        type: boolean
        default: false

jobs:
  goreleaser:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install --force
        working-directory: frontend
      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: "go.mod"
      - name: Install UPX
        shell: powershell
        run:
          Invoke-WebRequest -Uri https://github.com/upx/upx/releases/download/v4.0.2/upx-4.0.2-win64.zip -OutFile upx-4.0.2-win64.zip;
          Add-Type -AssemblyName System.IO.Compression.FileSystem;
          [System.IO.Compression.ZipFile]::ExtractToDirectory("$PWD/upx-4.0.2-win64.zip", "$PWD");
          echo "$PWD/upx-4.0.2-win64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - if: inputs.snapshot == false
        uses: goreleaser/goreleaser-action@v4.2.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config=build/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: goreleaser/goreleaser-action@v4.2.0
        with:
          distribution: goreleaser
          version: latest
          args: build --clean --debug --config=build/.goreleaser.yaml --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: actions/upload-artifact@v3
        with:
          name: release-binary
          path: dist/**/*.exe
          retention-days: 2
