name: Review & Test

on:
  pull_request: {}
  pull_request_review_comment:
    types: [created, edited]
  workflow_dispatch:

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    name: golangci-lint
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.3.0
      - name: Run golangci-lint with reviewdog
        uses: reviewdog/action-golangci-lint@v2.2.2
  cypress-run:
    name: Cypress Tests
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress tests
        uses: cypress-io/github-action@v5.1.0
        with:
          project: ./frontend
          build: npm run build
          component: true
          browser: edge
        env:
          # pass GitHub token to detect new build vs re-run build
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  build_snapshot:
    needs:
      - golangci-lint
      - cypress-run
    name: Build Snapshot
    uses: ./.github/workflows/release_generic.yml
    with:
      snapshot: true
